/* David Álvarez Menéndez UO288705 */

/* Estilos generales del proyecto MotoGP Desktop */

/*001*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fafafa;
    color: black;
}

/*001*/
header {
    background-color: #BADDDE;
    color:black;
}

/*010*/
.active {
    font-weight: bold;
}
